.inventory-menu-popup {
  background: #282c34;
  top: 1vh;
  right: 1vw;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
